@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');
.center{
    text-align: left;
    color: #00A6FB;
}

body{
    font-family: Ubuntu, cursive;
    background-color: #222;
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-shadow: 0px 0px 2px;
}

main{
 width:65%;
}

.navBar{
    display: flex;
    list-style-type: none;
    padding:1.3vw 0vw;
    margin-left: 1vw;

}

.navOptions{
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2vw;
    color:rgb(35, 209, 195);
    opacity: 0.5;
}

.navOptions:hover{
    opacity: 1;
    text-shadow: 0 0 4px
}

.caixa{
    border: 3px solid rgb(35, 209, 195);
    background-color: #222;
    border-radius: 1vw; 
    padding: 1vw 1.5vw;
    padding-bottom: 1.8vw;
    box-shadow: 0 0 4px rgb(35, 209, 195)
}

.title{
    text-align: center;
    font-size: 2.8vw;
}

.text-Content{
    font-size: 1.3vw;
    text-align: justify;
    line-height: 1.5vw;
}

.div-Img{
 display: flex;
 justify-content: center;
}

.tesseract{
    border-radius: 60%;
    border: 3px solid rgb(35, 209, 195);
    box-shadow: 0 0 4px rgb(35, 209, 195);
    height: 15vw;
    width: 15vw;
} 

.carl-Title {
    padding: 1.1vw;
    text-align: center;
   
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7vw;
}

.video-frame{
    box-shadow: 0 0 4px rgb(35, 209, 195);
    aspect-ratio: 16/9;
}

 footer{
display: flex;
align-content: center;
justify-content: center;
font-size:0.5vw;
}


 /* Contato page */
.contato{
    display: flex;
    flex-direction: column;
}

#assunto{
    width: 30vw;
}

.enviar{
    margin: 1vw 0vw;
    width: 5vw;
    background-color: #222;
    border-color: rgb(35, 209, 195);
    border-bottom-style: solid;
    border-radius: 10px;
    color: rgb(35, 209, 195);
    opacity: 0.5;
   
}

.enviar:hover{
    box-shadow: 0 0 5px rgb(35, 209, 195);
    background-color: #0c0c0c;
    opacity: 1;
}
.mapa{
    box-shadow: 0 0 10px rgb(35, 209, 195);
}
label{
    background-color:  #222;;
    border-color: rgb(35, 209, 195);
}